[user]
name = Dustin Michels
email = dustin7538@gmail.com

[core]
editor = vim
excludesfile = /Users/dustinmichels/.gitignore_global

[init]
defaultBranch = main

[credential]
helper = cache

[push]
autoSetupRemote = true

[alias]
ls = log --graph --abbrev-commit --decorate --all --color=always --date=relative --format=format:'%C(bold blue)%h - %C(bold green)(%ar) %C(reset)%s - %C(magenta)%an%C(bold yellow)%d'
last = log -1 HEAD
co = checkout
br = branch
ci = commit
st = status
unstage = reset HEAD --

# Use ssh when connecting to github
[url "git@github.com:"]
insteadOf = https://github.com
