[user]
	name = Dustin Michels
	email = dustin7538@gmail.com
[core]
	editor = vim
	excludesfile = /Users/dustinmichels/.gitignore_global
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    ls = log --graph --abbrev-commit --decorate --color=always --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) - %C(dim red)%an%C(reset)%C(bold yellow)%d%C(reset)' --all
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --

